<div class="container">

    <!-- <a class="btn btn-danger btn-large" href="#Signup" role="button" data-toggle="modal">Sign up</a> -->

    <!-- Modal -->
    <!-- <form id="form-register" class="form-signin">

    <div id="registermodal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    ×
    </button>
    <h3 id="myModalLabel">Register Here</h3>
    </div>

    <div class="modal-body">
    <input name="username" type="text" class="input-block-level" placeholder="Username" >
    <input name="password"  type="password" class="input-block-level" placeholder="Password">
    <input name="confirm"  type="password" class="input-block-level" placeholder="Confirm Password">
    <input name="email"  type="text" class="input-block-level" placeholder="Email">
    </div>

    <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
    Close
    </button>
    <button type="button" name="register"  class="btn btn-info" value="Register">
    Register
    </button>
    </div>
    </div>
    </form> -->

    <!-- <form>
    <input type="text" ng-model="test">
    </form> -->

    <div ng-controller="RegisterModalCtrl">
        <form id="form-signin" class="form-signin">

            <h2 class="form-signin-heading">Please Sign In</h2>
            <input name="user" type="text" class="input-large" placeholder="User name" ng-model="userNm"> <br />
            <input name="pass" type="password" class="input-large" placeholder="Password" ng-model="passwd">
            <br />
            <!-- <label class="checkbox">
            <input type="checkbox" value="remember-me">
            Remember me
            </label> -->
            <div ng-controller="LoginCtrl">
                <button name="btnsignin" id="btnsignin" class="btn btn-info btn-large" role="button" value="Sign In" ng-click="signin()">Sign In</button>
                <a id="btnsignup" ng-click="open()" role="button" class="btn btn-danger btn-large">Sign up</a>
            </div>

        </form>

        <div modal="shouldBeOpen" close="close()" options="opts">
            <form id="form-register" class="form-signin">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close()">
                        ×
                    </button>
                    <h3 id="myModalLabel">Register Here</h3>
                </div>
                <div ng-controller="LoginCtrl">
                    <div class="modal-body">
                        <input name="username" type="text" class="input-block-level" placeholder="Username" ng-model="regUserNm">
                        <input name="password"  type="password" class="input-block-level" placeholder="Password" ng-model="regPasswd">
                        <input name="confirm"  type="password" class="input-block-level" placeholder="Confirm Password" ng-model="regConfPasswd">
                        <input name="email"  type="text" class="input-block-level" placeholder="Email" ng-model="regEmail">
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger" ng-click="close()">
                            Close
                        </button>
                        <button type="button" name="register" ng-click="register()" class="btn btn-info" value="Register">
                            Register
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>