<div class="container">
    
    
    <form>
        <label for="notetxt">Note</label>
        <textarea maxlength="140" rows="4" cols="500" class="input-xlarge" placeholder="Note" ng-model="noteTxt"></textarea>                                
        <table class="table table-condensed"
            <tr>
                <td><label class="checkbox"><input id="allowComm" type="checkbox" ng-change="allowCommChanged()" ng-model="allowCommVal">Comments</label></td>
                <td><label class="checkbox"><input id="shouldRecur" type="checkbox" ng-change="shouldRecurChanged()" ng-model="shouldRecurVal">Recurs</label></td>
            </tr>
        </table>
        
        <table class="table table-condensed"
            <tr>
                <td>
                    <label>Select Privacy</label>
                    <select class="input-xlarge" id="privacy" ng-model="privacy" ng-options="priv.privDesc for priv in privOps">
                    </select>
                </td>
                <td>
                    <label for="radius">Radius</label>
                    <select class="input-xlarge" id="radius" ng-model="radius" ng-options="rad.r +' '+ rad.text for rad in radiuses">
                        
                    </select>
                </td>
            </tr>
        </table>

        <label for="upload">Upload Attachment</label>
        <input type="file" class="input-xlarge" disabled="{{isUplDisabled}}" />
        <br />
        <button role="button" class="btn btn-info btn-large" ng-click="push()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-plus-sign"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </form>
</div>
